<div class="form-group row">

    <div class="col-md-4 probe-name">
        <a href="javascript:void(0)" class="help" id="Sensus.Probes.Movement.AccelerometerProbe.html">Acceleration (Android,iOS)</a>
    </div>
    <div class="col-md-2 enable">
        <h4>Enable</h4>
    </div>
    <div class="col-md-2">

        <label class="switch">
            <input type="checkbox" name="AccelerometerProbe" class="probe">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="col-md-2">

    </div>
</div>